/* Apply general styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  form {
    width: 70%; /* Decreased width */
    margin: 20px auto;
    background-color: #fff;
    padding: 15px; /* Decreased padding */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  fieldset {
    border: none;
  }
  
  legend {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="date"],
  input[type="file"],
  textarea {
    width: calc(100% - 22px); /* Adjusted width to accommodate padding and border */
    padding: 8px; /* Decreased padding */
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  input[type="radio"] {
    margin-right: 8px; /* Decreased margin */
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px; /* Decreased padding */
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 600px) {
    form {
      width: 90%;
    }
  }
  